# 중복값 제거

In [109]:
import pandas as pd

df = pd.read_csv('train-ref12.csv')
df = df.drop_duplicates(['Sentence'])
df.drop(['Unnamed: 0'], axis=1, inplace=True)
df

         Id  Category                                           Sentence
0     11180         2  Although Barbershop boasts some of today's hot...
1     10282         1  (Johnnie To and Wai Ka Fai are) sure to find a...
2      1049         1                  Naipaul fans may be disappointed.
3     10985         4  Narc is a no-bull throwback to 1970s action fi...
4      4235         1  Cinematic pyrotechnics aside, the only thing A...
...     ...       ...                                                ...
9804    835         3  The Lady and the Duke is a smart, romantic dra...
9806   7443         0  It looks like an action movie, but it's so poo...
9807   5209         0                                          Horrible.
9810   7451         3  It gives devastating testimony to both people'...
9811     36         4   This is the best Star Trek movie in a long time.

[7655 rows x 3 columns]

In [110]:
df.duplicated(['Sentence'])

0       False
1       False
2       False
3       False
4       False
        ...
9804    False
9806    False
9807    False
9810    False
9811    False
Length: 7655, dtype: bool

In [111]:
df.to_csv('train-ref22.csv', mode='w')

# data refining

(space). (space), (space)! (space)? (space)n't (space)'에서 공백 일괄제거

``(space), 즉 acute accent mark 2개 + space 를 "(큰 따옴표 1개)로 변경

`(space)를 '(작은 따옴표 1개)로 변경

''(작은 따옴표 2개)를 "(큰 따옴표 1개)로 변경

-LRB-, -RRB- 를 각각 ( ) 괄호 부호로 변경

괄호 안쪽 space 제거

\\ 삭제

\#(space), $(space), (space)&(space) 공백 제거

Mr.(space)의 공백 제거


큰 따옴표 뒤에 스페이스가 없어진 문제 해결

In [102]:
import pandas as pd

df = pd.read_csv('valid.csv')
df

         Id  Category                                           Sentence
0      6883         1  A documentary to make the stones weep -- as sh...
1      6262         3  It 's pretty linear and only makeup-deep , but...
2      7926         1  The script is a tired one , with few moments o...
3      2733         0  This is surely one of the most frantic , virul...
4      8371         1  The scriptwriters are no less a menace to soci...
...     ...       ...                                                ...
1727  10066         4  The most brilliant work in this genre since th...
1728   7057         3  Like Kissing Jessica Stein , Amy 's Orgasm has...
1729   7015         2                           ` Snow Dogs ' has both .
1730   8381         0                            What an embarrassment .
1731   4844         2                Or for the year , for that matter .

[1732 rows x 3 columns]

In [103]:
df['Sentence'] = df['Sentence'].str.replace('\s\.', '.')
df['Sentence'] = df['Sentence'].str.replace('\s\,', ',')
df['Sentence'] = df['Sentence'].str.replace('\s\!', '!')
df['Sentence'] = df['Sentence'].str.replace('\s\?', '?')
df['Sentence'] = df['Sentence'].str.replace("\sn't", "n't")
df['Sentence'] = df['Sentence'].str.replace('\s\'', "'")
df['Sentence'] = df['Sentence'].str.replace("\`\`\s", '"')
df['Sentence'] = df['Sentence'].str.replace("\'\'", '"')
df['Sentence'] = df['Sentence'].str.replace("\-LRB\-", "(")
df['Sentence'] = df['Sentence'].str.replace("\-RRB\-", ")")
df['Sentence'] = df['Sentence'].str.replace("\\", '')
df['Sentence'] = df['Sentence'].str.replace('\`\s', "'")
df['Sentence'] = df['Sentence'].str.replace('\s\)', ")")
df['Sentence'] = df['Sentence'].str.replace('\(\s', "(")
df

In [105]:
df.to_csv('valid-ref12.csv', mode='w')

# hyphen을 space로 변환, (dash는 그대로 존치)

In [127]:
import pandas as pd

df = pd.read_csv('valid-ref22.csv')
df

      Unnamed: 0  ...                                           Sentence
0              0  ...  A documentary to make the stones weep -- as sh...
1              1  ...  It's pretty linear and only makeup-deep, but B...
2              2  ...  The script is a tired one, with few moments of...
3              3  ...  This is surely one of the most frantic, virule...
4              4  ...  The scriptwriters are no less a menace to soci...
...          ...  ...                                                ...
1661        1726  ...  Downbeat, period-perfect biopic hammers home a...
1662        1727  ...  The most brilliant work in this genre since th...
1663        1728  ...  Like Kissing Jessica Stein, Amy's Orgasm has a...
1664        1729  ...                              'Snow Dogs' has both.
1665        1731  ...                  Or for the year, for that matter.

[1666 rows x 4 columns]

In [128]:
df['Sentence'] = df['Sentence'].str.replace('\-\-', "hyphens")
df['Sentence'] = df['Sentence'].str.replace('\-', " ")
df['Sentence'] = df['Sentence'].str.replace('hyphens', "--")
df

      Unnamed: 0  ...                                           Sentence
0              0  ...  A documentary to make the stones weep -- as sh...
1              1  ...  It's pretty linear and only makeup deep, but B...
2              2  ...  The script is a tired one, with few moments of...
3              3  ...  This is surely one of the most frantic, virule...
4              4  ...  The scriptwriters are no less a menace to soci...
...          ...  ...                                                ...
1661        1726  ...  Downbeat, period perfect biopic hammers home a...
1662        1727  ...  The most brilliant work in this genre since th...
1663        1728  ...  Like Kissing Jessica Stein, Amy's Orgasm has a...
1664        1729  ...                              'Snow Dogs' has both.
1665        1731  ...                  Or for the year, for that matter.

[1666 rows x 4 columns]

In [129]:
df.to_csv('valid-ref32.csv', mode='w')