# NLTK sentence tokenizer

In [86]:
import pandas as pd

df = pd.read_csv('train.csv')
df

         Id  Category                                           Sentence
0     11180         2  Although Barbershop boasts some of today 's ho...
1     10282         1  -LRB- Johnnie To and Wai Ka Fai are -RRB- sure...
2      1049         1                 Naipaul fans may be disappointed .
3     10985         4  Narc is a no-bull throwback to 1970s action fi...
4      4235         1  Cinematic pyrotechnics aside , the only thing ...
...     ...       ...                                                ...
9807   5209         0                                         Horrible .
9808   3227         2  The Country Bears has no scenes that will upse...
9809   2016         2  ... the picture 's cleverness is ironically mu...
9810   7451         3  It gives devastating testimony to both people ...
9811     36         4  This is the best Star Trek movie in a long time .

[9812 rows x 3 columns]

In [87]:
sentences = list(df['Sentence'])
sentences[:4]

from nltk.tokenize import sent_tokenize

vocab_count_sent = {}
token_array_sent = []
token_array_check = [sent_tokenize(s) for s in sentences]

# sentence chunking, token 빈도 counting
for i in sentences:
  sent_token = sent_tokenize(i)
  chunk_sentence = i.split(' and ')  # 추가된 기준으로 chunking
  result = []
  for token in chunk_sentence:
    result.append(token)
    if token not in vocab_count_sent:
      vocab_count_sent[token] = 0
    vocab_count_sent[token] += 1
  token_array_sent.append(result)

# token를 빈도수로 mapping 배열한 list
vocab_sorted_sent = sorted(vocab_count_sent.items(), key = lambda x:x[1], reverse = True)

# vocab 파일 생성
vocab_sent = [i[0] for i in vocab_sorted_sent]
with open('./vocab_crude_Sent_and.txt', 'w+') as lf:
    lf.write('\n'.join(vocab_sent))

# token를 빈도순으로 Indexing
token_index_sent = [tuple([w, i+1]) for i, w in enumerate(vocab_sent)]


print('Found %s unique tokens' % len(vocab_sent))
print('After chunking \t\t\t:', token_array_sent[:5])
print('Vocab in frequency order \t:',vocab_sent[:20])
print('List of (token, frequency) \t:', vocab_sorted_sent[:20])
print('List of (token, index) \t\t:', token_index_sent[:20])

Found 11555 unique tokens
After chunking 			: [["Although Barbershop boasts some of today 's hottest", 'hippest acts from the world of television , music', 'stand-up comedy , this movie strangely enough has the outdated swagger of a shameless ` 70s blaxploitation shuck-and-jive sitcom .'], ['-LRB- Johnnie To', "Wai Ka Fai are -RRB- sure to find an enthusiastic audience among American action-adventure buffs , but the film 's interests may be too narrow to attract crossover viewers ."], ['Naipaul fans may be disappointed .'], ['Narc is a no-bull throwback to 1970s action films .'], ['Cinematic pyrotechnics aside , the only thing Avary seems to care about are mean giggles', 'pulchritude .']]
Vocab in frequency order 	: ['A moving', 'funny .', 'worth a look .', 'tedious .', 'fear .', 'artificial .', 'mayhem .', 'Deliberately', 'far between .', 'isolation .', 'Poignant', 'humor', 'amateurish .', 'Smart', "What 's next ?", 'why .', 'touching .', "For a film that 's being advertised as a comedy , Sweet Home Alabama is n't as funny as you 'd hoped .", 'Funny', 'over again .']
List of (token, frequency) 	: [('A moving', 7), ('funny .', 5), ('worth a look .', 4), ('tedious .', 4), ('fear .', 4), ('artificial .', 4), ('mayhem .', 4), ('Deliberately', 4), ('far between .', 4), ('isolation .', 3), ('Poignant', 3), ('humor', 3), ('amateurish .', 3), ('Smart', 3), ("What 's next ?", 3), ('why .', 3), ('touching .', 3), ("For a film that 's being advertised as a comedy , Sweet Home Alabama is n't as funny as you 'd hoped .", 3), ('Funny', 3), ('over again .', 3)]
List of (token, index) 		: [('A moving', 1), ('funny .', 2), ('worth a look .', 3), ('tedious .', 4), ('fear .', 5), ('artificial .', 6), ('mayhem .', 7), ('Deliberately', 8), ('far between .', 9), ('isolation .', 10), ('Poignant', 11), ('humor', 12), ('amateurish .', 13), ('Smart', 14), ("What 's next ?", 15), ('why .', 16), ('touching .', 17), ("For a film that 's being advertised as a comedy , Sweet Home Alabama is n't as funny as you 'd hoped .", 18), ('Funny', 19), ('over again .', 20)]

In [70]:
import nltk
nltk.__version__

'3.2.5'

In [64]:
nltk.download('punkt')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [67]:
sentences = list(df['Sentence'])
sentences[:4]

from nltk.tokenize import sent_tokenize

vocab_count_sent = {}
token_array_sent = []
token_array_check = [sent_tokenize(s) for s in sentences]

# sentence chunking, token 빈도 counting
for i in sentences:
  sent_token = sent_tokenize(i)
  chunk_sentence = i.split(' and ')  # 추가된 기준으로 chunking
  result = []
  for token in chunk_sentence:
    result.append(token)
    if token not in vocab_count_sent:
      vocab_count_sent[token] = 0
    vocab_count_sent[token] += 1
  token_array_sent.append(result)

# token를 빈도수로 mapping 배열한 list
vocab_sorted_sent = sorted(vocab_count_sent.items(), key = lambda x:x[1], reverse = True)

# vocab 파일 생성
vocab_sent = [i[0] for i in vocab_sorted_sent]
with open('./vocab_ref21_Sent_and.txt', 'w+') as lf:
    lf.write('\n'.join(vocab_sent))

# token를 빈도순으로 Indexing
token_index_sent = [tuple([w, i+1]) for i, w in enumerate(vocab_sent)]


print('Found %s unique tokens' % len(vocab_sent))
print('After chunking \t\t\t:', token_array_sent[:5])
print('Vocab in frequency order \t:',vocab_sent[:20])
print('List of (token, frequency) \t:', vocab_sorted_sent[:20])
print('List of (token, index) \t\t:', token_index_sent[:20])

Found 11555 unique tokens
After chunking 			: [["Although Barbershop boasts some of today 's hottest", 'hippest acts from the world of television , music', 'stand-up comedy , this movie strangely enough has the outdated swagger of a shameless ` 70s blaxploitation shuck-and-jive sitcom .'], ['-LRB- Johnnie To', "Wai Ka Fai are -RRB- sure to find an enthusiastic audience among American action-adventure buffs , but the film 's interests may be too narrow to attract crossover viewers ."], ['Naipaul fans may be disappointed .'], ['Narc is a no-bull throwback to 1970s action films .'], ['Cinematic pyrotechnics aside , the only thing Avary seems to care about are mean giggles', 'pulchritude .']]
Vocab in frequency order 	: ['A moving', 'funny .', 'worth a look .', 'tedious .', 'fear .', 'artificial .', 'mayhem .', 'Deliberately', 'far between .', 'isolation .', 'Poignant', 'humor', 'amateurish .', 'Smart', "What 's next ?", 'why .', 'touching .', "For a film that 's being advertised as a comedy , Sweet Home Alabama is n't as funny as you 'd hoped .", 'Funny', 'over again .']
List of (token, frequency) 	: [('A moving', 7), ('funny .', 5), ('worth a look .', 4), ('tedious .', 4), ('fear .', 4), ('artificial .', 4), ('mayhem .', 4), ('Deliberately', 4), ('far between .', 4), ('isolation .', 3), ('Poignant', 3), ('humor', 3), ('amateurish .', 3), ('Smart', 3), ("What 's next ?", 3), ('why .', 3), ('touching .', 3), ("For a film that 's being advertised as a comedy , Sweet Home Alabama is n't as funny as you 'd hoped .", 3), ('Funny', 3), ('over again .', 3)]
List of (token, index) 		: [('A moving', 1), ('funny .', 2), ('worth a look .', 3), ('tedious .', 4), ('fear .', 5), ('artificial .', 6), ('mayhem .', 7), ('Deliberately', 8), ('far between .', 9), ('isolation .', 10), ('Poignant', 11), ('humor', 12), ('amateurish .', 13), ('Smart', 14), ("What 's next ?", 15), ('why .', 16), ('touching .', 17), ("For a film that 's being advertised as a comedy , Sweet Home Alabama is n't as funny as you 'd hoped .", 18), ('Funny', 19), ('over again .', 20)]

# Issues
data refining
 - (space)', (space)n't, (space)., (space)?, (space)!, 
 - (space),
 - (space)'
 - Mr.(space)

In [8]:
df = pd.read_csv('train.csv')
df

         Id  Category                                           Sentence
0     11180         2  Although Barbershop boasts some of today 's ho...
1     10282         1  -LRB- Johnnie To and Wai Ka Fai are -RRB- sure...
2      1049         1                 Naipaul fans may be disappointed .
3     10985         4  Narc is a no-bull throwback to 1970s action fi...
4      4235         1  Cinematic pyrotechnics aside , the only thing ...
...     ...       ...                                                ...
9807   5209         0                                         Horrible .
9808   3227         2  The Country Bears has no scenes that will upse...
9809   2016         2  ... the picture 's cleverness is ironically mu...
9810   7451         3  It gives devastating testimony to both people ...
9811     36         4  This is the best Star Trek movie in a long time .

[9812 rows x 3 columns]

In [9]:
sentences = list(df['Sentence'])
sentences[:4]

from nltk.tokenize import sent_tokenize

vocab_count_sent = {}
token_array_sent = []
token_array_check = [sent_tokenize(s) for s in sentences]

# sentence chunking, token 빈도 counting
for i in sentences:
  sent_token = sent_tokenize(i)
  chunk_sentence = i.split(',')  # 쉼표 기준으로 chunking
  result = []
  for token in chunk_sentence:
    result.append(token)
    if token not in vocab_count_sent:
      vocab_count_sent[token] = 0
    vocab_count_sent[token] += 1
  token_array_sent.append(result)

# token를 빈도수로 mapping 배열한 list
vocab_sorted_sent = sorted(vocab_count_sent.items(), key = lambda x:x[1], reverse = True)

# vocab 파일 생성
vocab_sent = [i[0] for i in vocab_sorted_sent]
with open('./vocab_CrudeSent_comma.txt', 'w+') as lf:
    lf.write('\n'.join(vocab_sent))

# token를 빈도순으로 Indexing
token_index_sent = [tuple([w, i+1]) for i, w in enumerate(vocab_sent)]


print('Found %s unique tokens' % len(vocab_sent))
print('After chunking \t\t\t:', token_array_sent[:5])
print('Vocab in frequency order \t:',vocab_sent[:20])
print('List of (token, frequency) \t:', vocab_sorted_sent[:20])
print('List of (token, index) \t\t:', token_index_sent[:20])

Found 13819 unique tokens
After chunking 			: [["Although Barbershop boasts some of today 's hottest and hippest acts from the world of television ", ' music and stand-up comedy ', ' this movie strangely enough has the outdated swagger of a shameless ` 70s blaxploitation shuck-and-jive sitcom .'], ['-LRB- Johnnie To and Wai Ka Fai are -RRB- sure to find an enthusiastic audience among American action-adventure buffs ', " but the film 's interests may be too narrow to attract crossover viewers ."], ['Naipaul fans may be disappointed .'], ['Narc is a no-bull throwback to 1970s action films .'], ['Cinematic pyrotechnics aside ', ' the only thing Avary seems to care about are mean giggles and pulchritude .']]
Vocab in frequency order 	: [' however ', ' though ', 'Unfortunately ', 'In the end ', ' but ', ' and ', ' really ', 'Well ', ' either .', 'Yes ', 'Ultimately ', 'A dull ', ' in the end ', 'Sadly ', 'Overall ', ' yes ', 'A loud ', ' tap ', 'All in all ', 'A sensitive ']
List of (token, frequency) 	: [(' however ', 15), (' though ', 14), ('Unfortunately ', 12), ('In the end ', 10), (' but ', 9), (' and ', 7), (' really ', 7), ('Well ', 7), (' either .', 7), ('Yes ', 7), ('Ultimately ', 7), ('A dull ', 6), (' in the end ', 6), ('Sadly ', 6), ('Overall ', 6), (' yes ', 6), ('A loud ', 6), (' tap ', 6), ('All in all ', 5), ('A sensitive ', 5)]
List of (token, index) 		: [(' however ', 1), (' though ', 2), ('Unfortunately ', 3), ('In the end ', 4), (' but ', 5), (' and ', 6), (' really ', 7), ('Well ', 8), (' either .', 9), ('Yes ', 10), ('Ultimately ', 11), ('A dull ', 12), (' in the end ', 13), ('Sadly ', 14), ('Overall ', 15), (' yes ', 16), ('A loud ', 17), (' tap ', 18), ('All in all ', 19), ('A sensitive ', 20)]

# NLTK word tokenizer

In [106]:
df = pd.read_csv('train-DelDupHy.csv')
df

      Unnamed: 0  ...                                           Sentence
0              0  ...                    -- but certainly hard to hate .
1              1  ...  -- but it makes for one of the most purely enj...
2              2  ...         I also wanted a little alien as a friend !
3              3  ...  -- is a crime that should be punishable by cha...
4              4  ...    spy action flick with Antonio Banderas and L...
...          ...  ...                                                ...
7650        7650  ...  Ze movie starts out so funny , then she is not...
7651        7651  ...  Zellweger 's whiny pouty lipped poof faced and...
7652        7652  ...  Zhuangzhuang creates delicate balance of style...
7653        7653  ...  ZigZag might have been richer and more observa...
7654        7654  ...                                             Zoom !

[7655 rows x 4 columns]

In [107]:
sentences = list(df['Sentence'])
sentences[:4]

from nltk.tokenize import word_tokenize

vocab_count_word = {}
token_array_word = []
token_array_check = [word_tokenize(s) for s in sentences]

# sentence chunking, token 빈도 counting
for i in sentences:
  chunk_sentence = word_tokenize(i)
  result = []
  for token in chunk_sentence:
    result.append(token)
    if token not in vocab_count_word:
      vocab_count_word[token] = 0
    vocab_count_word[token] += 1
  token_array_word.append(result)

# token를 빈도수로 mapping 배열한 list
vocab_sorted_word = sorted(vocab_count_word.items(), key = lambda x:x[1], reverse = True)

# vocab 파일 생성
vocab_word = [i[0] for i in vocab_sorted_word]
with open('./vocab_DelDupHy_word.txt', 'w+') as lf:
    lf.write('\n'.join(vocab_word))

# token를 빈도순으로 Indexing
token_index_word = [tuple([w, i+1]) for i, w in enumerate(vocab_word)]


print('Found %s unique tokens' % len(vocab_word))
print('After chunking \t\t\t:', token_array_word[:5])
print('Vocab in frequency order \t:',vocab_word[:20])
print('List of (token, frequency) \t:', vocab_sorted_word[:20])
print('List of (token, index) \t\t:', token_index_word[:20])

Found 16221 unique tokens
After chunking 			: [['--', 'but', 'certainly', 'hard', 'to', 'hate', '.'], ['--', 'but', 'it', 'makes', 'for', 'one', 'of', 'the', 'most', 'purely', 'enjoyable', 'and', 'satisfying', 'evenings', 'at', 'the', 'movies', 'I', "'ve", 'had', 'in', 'a', 'while', '.'], ['I', 'also', 'wanted', 'a', 'little', 'alien', 'as', 'a', 'friend', '!'], ['--', 'is', 'a', 'crime', 'that', 'should', 'be', 'punishable', 'by', 'chainsaw', '.'], ['spy', 'action', 'flick', 'with', 'Antonio', 'Banderas', 'and', 'Lucy', 'Liu', 'never', 'comes', 'together', '.']]
Vocab in frequency order 	: ['.', ',', 'the', 'and', 'of', 'a', 'to', 'is', "'s", 'that', 'in', 'it', 'The', 'as', 'film', 'with', 'but', 'movie', 'for', 'its']
List of (token, frequency) 	: [('.', 7236), (',', 6408), ('the', 5471), ('and', 4004), ('of', 3993), ('a', 3958), ('to', 2694), ('is', 2279), ("'s", 2264), ('that', 1692), ('in', 1624), ('it', 1569), ('The', 1142), ('as', 1079), ('film', 1027), ('with', 956), ('but', 952), ('movie', 895), ('for', 873), ('its', 831)]
List of (token, index) 		: [('.', 1), (',', 2), ('the', 3), ('and', 4), ('of', 5), ('a', 6), ('to', 7), ('is', 8), ("'s", 9), ('that', 10), ('in', 11), ('it', 12), ('The', 13), ('as', 14), ('film', 15), ('with', 16), ('but', 17), ('movie', 18), ('for', 19), ('its', 20)]