# Treebank Word Tokenizer

In [1]:
import nltk
nltk.__version__

'3.2.5'

In [2]:
nltk.download('punkt')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

True

In [24]:
import pandas as pd

df = pd.read_csv('train-DelDupHy.csv')
df

      Unnamed: 0  ...                                           Sentence
0              0  ...                    -- but certainly hard to hate .
1              1  ...  -- but it makes for one of the most purely enj...
2              2  ...         I also wanted a little alien as a friend !
3              3  ...  -- is a crime that should be punishable by cha...
4              4  ...    spy action flick with Antonio Banderas and L...
...          ...  ...                                                ...
7650        7650  ...  Ze movie starts out so funny , then she is not...
7651        7651  ...  Zellweger 's whiny pouty lipped poof faced and...
7652        7652  ...  Zhuangzhuang creates delicate balance of style...
7653        7653  ...  ZigZag might have been richer and more observa...
7654        7654  ...                                             Zoom !

[7655 rows x 4 columns]

In [25]:
sentences = list(df['Sentence'])
sentences[:4]

from nltk.tokenize import TreebankWordTokenizer

vocab_count_tree = {}
token_array_tree = []
tokenizer = TreebankWordTokenizer()
token_array_check = [tokenizer.tokenize(s) for s in sentences]

# sentence chunking, token 빈도 counting
for i in sentences:
  chunk_sentence = tokenizer.tokenize(i)
  result = []
  for token in chunk_sentence:
    result.append(token)
    if token not in vocab_count_tree:
      vocab_count_tree[token] = 0
    vocab_count_tree[token] += 1
  token_array_tree.append(result)

# token를 빈도수로 mapping 배열한 list
vocab_sorted_tree = sorted(vocab_count_tree.items(), key = lambda x:x[1], reverse = True)

# vocab 파일 생성
vocab_tree = [i[0] for i in vocab_sorted_tree]
with open('./vocab_DelDupHy_tree.txt', 'w+') as lf:
    lf.write('\n'.join(vocab_tree))

# token를 빈도순으로 Indexing
token_index_tree = [tuple([w, i+1]) for i, w in enumerate(vocab_tree)]


print('Found %s unique tokens' % len(vocab_tree))
print('After chunking \t\t\t:', token_array_tree[:5])
print('Vocab in frequency order \t:',vocab_tree[:20])
print('List of (token, frequency) \t:', vocab_sorted_tree[:20])
print('List of (token, index) \t\t:', token_index_tree[:20])

Found 16223 unique tokens
After chunking 			: [['--', 'but', 'certainly', 'hard', 'to', 'hate', '.'], ['--', 'but', 'it', 'makes', 'for', 'one', 'of', 'the', 'most', 'purely', 'enjoyable', 'and', 'satisfying', 'evenings', 'at', 'the', 'movies', 'I', "'ve", 'had', 'in', 'a', 'while', '.'], ['I', 'also', 'wanted', 'a', 'little', 'alien', 'as', 'a', 'friend', '!'], ['--', 'is', 'a', 'crime', 'that', 'should', 'be', 'punishable', 'by', 'chainsaw', '.'], ['spy', 'action', 'flick', 'with', 'Antonio', 'Banderas', 'and', 'Lucy', 'Liu', 'never', 'comes', 'together', '.']]
Vocab in frequency order 	: ['.', ',', 'the', 'and', 'of', 'a', 'to', 'is', "'s", 'that', 'in', 'it', 'The', 'as', 'film', 'with', 'but', 'movie', 'for', 'its']
List of (token, frequency) 	: [('.', 7187), (',', 6408), ('the', 5471), ('and', 4004), ('of', 3993), ('a', 3958), ('to', 2694), ('is', 2279), ("'s", 2264), ('that', 1692), ('in', 1624), ('it', 1569), ('The', 1142), ('as', 1079), ('film', 1027), ('with', 956), ('but', 952), ('movie', 895), ('for', 873), ('its', 831)]
List of (token, index) 		: [('.', 1), (',', 2), ('the', 3), ('and', 4), ('of', 5), ('a', 6), ('to', 7), ('is', 8), ("'s", 9), ('that', 10), ('in', 11), ('it', 12), ('The', 13), ('as', 14), ('film', 15), ('with', 16), ('but', 17), ('movie', 18), ('for', 19), ('its', 20)]

In [ ]:
token_array_check == token_array_tree

True

# With refined data

In [ ]:
import pandas as pd

df = pd.read_csv('train_sent.csv')
df

         Id  Category                                           Sentence
0     11180         2  Although Barbershop boasts some of today's hot...
1     10282         1  -LRB- Johnnie To and Wai Ka Fai are -RRB- sure...
2      1049         1                  Naipaul fans may be disappointed.
3     10985         4  Narc is a no-bull throwback to 1970s action fi...
4      4235         1  Cinematic pyrotechnics aside , the only thing ...
...     ...       ...                                                ...
9807   5209         0                                          Horrible.
9808   3227         2  The Country Bears has no scenes that will upse...
9809   2016         2  ... the picture's cleverness is ironically mut...
9810   7451         3  It gives devastating testimony to both people'...
9811     36         4   This is the best Star Trek movie in a long time.

[9812 rows x 3 columns]

In [ ]:
sentences = list(df['Sentence'])
sentences[:4]

["Although Barbershop boasts some of today's hottest and hippest acts from the world of television , music and stand-up comedy , this movie strangely enough has the outdated swagger of a shameless ` 70s blaxploitation shuck-and-jive sitcom.",
 "-LRB- Johnnie To and Wai Ka Fai are -RRB- sure to find an enthusiastic audience among American action-adventure buffs , but the film's interests may be too narrow to attract crossover viewers.",
 'Naipaul fans may be disappointed.',
 'Narc is a no-bull throwback to 1970s action films.']

In [ ]:
from nltk.tokenize import TreebankWordTokenizer

vocab_count_tree = {}
token_array_tree = []
tokenizer = TreebankWordTokenizer()
token_array_check = [tokenizer.tokenize(s) for s in sentences]

# sentence chunking, token 빈도 counting
for i in sentences:
  chunk_sentence = tokenizer.tokenize(i)
  result = []
  for token in chunk_sentence:
    result.append(token)
    if token not in vocab_count_tree:
      vocab_count_tree[token] = 0
    vocab_count_tree[token] += 1
  token_array_tree.append(result)

# token를 빈도수로 mapping 배열한 list
vocab_sorted_tree = sorted(vocab_count_tree.items(), key = lambda x:x[1], reverse = True)

# vocab 파일 생성
vocab_tree = [i[0] for i in vocab_sorted_tree]
with open('./vocab_tree_ref.txt', 'w+') as lf:
    lf.write('\n'.join(vocab_tree))

# token를 빈도순으로 Indexing
token_index_tree = [tuple([w, i+1]) for i, w in enumerate(vocab_tree)]


print('Found %s unique tokens' % len(vocab_tree))
print('After chunking \t\t\t:', token_array_tree[:5])
print('Vocab in frequency order \t:',vocab_tree[:20])
print('List of (token, frequency) \t:', vocab_sorted_tree[:20])
print('List of (token, index) \t\t:', token_index_tree[:20])

Found 17235 unique tokens
After chunking 			: [['Although', 'Barbershop', 'boasts', 'some', 'of', 'today', "'s", 'hottest', 'and', 'hippest', 'acts', 'from', 'the', 'world', 'of', 'television', ',', 'music', 'and', 'stand-up', 'comedy', ',', 'this', 'movie', 'strangely', 'enough', 'has', 'the', 'outdated', 'swagger', 'of', 'a', 'shameless', '`', '70s', 'blaxploitation', 'shuck-and-jive', 'sitcom', '.'], ['-LRB-', 'Johnnie', 'To', 'and', 'Wai', 'Ka', 'Fai', 'are', '-RRB-', 'sure', 'to', 'find', 'an', 'enthusiastic', 'audience', 'among', 'American', 'action-adventure', 'buffs', ',', 'but', 'the', 'film', "'s", 'interests', 'may', 'be', 'too', 'narrow', 'to', 'attract', 'crossover', 'viewers', '.'], ['Naipaul', 'fans', 'may', 'be', 'disappointed', '.'], ['Narc', 'is', 'a', 'no-bull', 'throwback', 'to', '1970s', 'action', 'films', '.'], ['Cinematic', 'pyrotechnics', 'aside', ',', 'the', 'only', 'thing', 'Avary', 'seems', 'to', 'care', 'about', 'are', 'mean', 'giggles', 'and', 'pulchritude', '.']]
Vocab in frequency order 	: ['.', ',', 'the', 'a', 'and', 'of', 'to', 'is', "'s", 'that', 'in', 'it', 'The', 'as', 'film', 'but', 'with', 'movie', 'for', 'its']
List of (token, frequency) 	: [('.', 9196), (',', 8163), ('the', 6913), ('a', 5079), ('and', 5058), ('of', 5030), ('to', 3404), ('is', 2923), ("'s", 2872), ('that', 2174), ('in', 2065), ('it', 2011), ('The', 1459), ('as', 1400), ('film', 1293), ('but', 1234), ('with', 1225), ('movie', 1110), ('for', 1107), ('its', 1082)]
List of (token, index) 		: [('.', 1), (',', 2), ('the', 3), ('a', 4), ('and', 5), ('of', 6), ('to', 7), ('is', 8), ("'s", 9), ('that', 10), ('in', 11), ('it', 12), ('The', 13), ('as', 14), ('film', 15), ('but', 16), ('with', 17), ('movie', 18), ('for', 19), ('its', 20)]